header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color-primary);
}

.logotipo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
/*
.navbar {
    display: flex;
}

.navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
}
*/
.list-menu {
    
    background-color: var(--bg-color-primary);
    color: var(--text-color);
    border-radius: 20px;
    margin: 0;
    border: 0;
    width: 200px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.list-menu option {
    font-family: 'Eczar', serif;
}

.list-menu option:hover {
    font-family: 'Eczar', serif;
}

.list-menu:hover {
    background-color: var(--text-color);
    color: var(--bg-color-primary);
}
