
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; 
}

:root {
    --bg-color-primary: #001a57;
    --bg-color: #192c53;
    --bg-dark: #363636;
    --text-color: #fffafa;
    --text-color-primary: #ffd700;  
    

    font-family: 'Aldrich', sans-serif;    
    /*font-family: 'Bebas Neue', cursive;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Eczar', serif;
    font-family: 'Graduate', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Quantico', sans-serif;*/
    
    list-style: none;
}

body {   
    background-color: var(--bg-dark);
    color: var(--text-color); 
    
}
